<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory>.</directory>
    </include>
    <exclude>
      <directory>vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Maestro2">
        <directory>./tests/Unit/Core</directory>
    </testsuite>
  </testsuites>
</phpunit>
